h1 sök efter en frukt

//- @datafrukt.each do |fruit|
//    h2 = fruit["name"]
//    p Det finns #{fruit["amount"]}st
//    hr
//
//end


form action="/fruits" method="get"
    input name="q" placeholder="Sök på frukt" type="text"
    input type="submit" value="Sök!"

h1 Alla frukter 